body {
    font-family: 'Be Vietnam', sans-serif;
    font-size: 20px;
}

nav {
    background-color: teal;
    position: fixed;
}

h2 {
    text-align: center;
    color: teal;
}

.brand-logo {
    margin-left: 25px;
}

p{
    text-align: center;
    color: black;
    z-index: 99;
}


.parallax-container .parallax img {
    width: 100%;
    /* height: 300px; */
    opacity: 9;

  }

  .parallax img {
    position: absolute;
    width: 100vmax;
    z-index: -1;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    pointer-events: none
  }

  .parallax {
    min-height: 500px; 
    background-image: url(https://image.freepik.com/free-photo/white-gray-color-wood-texture-surface_74190-8288.jpg);
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .carousel {
    /* background-color: black; */
}

footer {
    background-color: teal;
    padding-bottom: 25px;
    padding-top: 25px;
    position: sticky;
}

.block{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 16px;
  }